:root {
    --bs-primary: #0b00a6;
    --bs-primary-rgb: 11, 0, 166;
    --bs-secondary: #C07300;
    --bs-secondary-rgb: 238, 143, 0;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url('assets/snow.png');
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

h1, .h1 {
    font-size: calc(1.5rem + 5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 4rem;
    }
  }

  h2, .h2 {
    font-size: calc(1rem + 2.2vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2.5rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(15rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 2rem;
    }
  }
  
.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}  

#sideNav .navbar-nav .nav-item .nav-link {
    text-transform: none;
  }
  
.expedu_icon {
    color: #495057;
}

.expedu_icon:hover {
    color: var(--bs-secondary);
}

a {
    color: var(--bs-primary);
}

.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}